@charset "UTF-8";
/*------------------------------------------------------------------
[Master Stylesheet]

Project: OE Framework
Version: 0.1
Last change: 03/30/14 
-------------------------------------------------------------------*/
/* Config */
/* These functions define ranges for various things, like media queries */
/* Calculate REM from interger or px */
/* The following was adopted from the Foundation framework */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 5, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * Color
 */
/* Core | Supporting | Neutral | Tints */
/*
 * Typography
 */
/* line 1, ../scss/_extends.scss */
.unselectable, input[type=button], button, .button {
  user-select: none;
}

/* line 5, ../scss/_extends.scss */
.disabled, :root input[type=checkbox]:disabled + label:before, :root input[type=radio]:disabled + label:before, :root input[type=checkbox]:checked:disabled + label:before, :root input[type=radio]:checked:disabled + label:before, input[disabled], input[readonly], input[disabled] + label, input[readonly] + label {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .6;
  filter: alpha(opacity=60);
}

/* line 13, ../scss/_extends.scss */
.white, input[type=button].primary, button.primary, .button.primary, input[type=button].success, button.success, .button.success, input[type=button].warning, button.warning, .button.warning, input[type=button].error, button.error, .button.error {
  color: #fff;
}

/* line 17, ../scss/_extends.scss */
.focus, input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus, select:focus, :root input[type=checkbox]:focus + label:before, :root input[type=radio]:focus + label:before {
  border-color: #0b92f6;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
}

/* line 22, ../scss/_extends.scss */
.clearfix, .container:after {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 24, ../scss/_extends.scss */
.clearfix:before, .clearfix:after, .container:after {
  content: '';
  display: table;
}
/* line 28, ../scss/_extends.scss */
.clearfix:after, .container:after {
  clear: both;
}

/* line 33, ../scss/_extends.scss */
.show {
  display: block !important;
}

/* line 37, ../scss/_extends.scss */
.hide {
  display: none !important;
}

/* line 41, ../scss/_extends.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 46, ../scss/_extends.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../scss/_extends.scss */
.screen-reader-text, :root input[type=checkbox], :root input[type=radio] {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* line 61, ../scss/_extends.scss */
.pull-left {
  float: left !important;
}

/* line 64, ../scss/_extends.scss */
.pull-right {
  float: right !important;
}

/* line 68, ../scss/_extends.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 71, ../scss/_extends.scss */
.img-circle {
  border-radius: 50%;
}

/* line 74, ../scss/_extends.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
}

/* line 1, ../scss/_buttons.scss */
input[type=button], button, .button {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  line-height: 1.45;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 23, ../scss/_buttons.scss */
input[type=button]:active, input[type=button]:hover, input[type=button]:focus, button:active, button:hover, button:focus, .button:active, .button:hover, .button:focus {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
/* line 29, ../scss/_buttons.scss */
input[type=button].primary, button.primary, .button.primary {
  background-color: #428bca;
  border-color: #357ebd;
}
/* line 33, ../scss/_buttons.scss */
input[type=button].primary:active, input[type=button].primary:hover, input[type=button].primary:focus, button.primary:active, button.primary:hover, button.primary:focus, .button.primary:active, .button.primary:hover, .button.primary:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 39, ../scss/_buttons.scss */
input[type=button].success, button.success, .button.success {
  background-color: #5cb85c;
  border-color: #378238;
}
/* line 43, ../scss/_buttons.scss */
input[type=button].success:active, input[type=button].success:hover, input[type=button].success:focus, button.success:active, button.success:hover, button.success:focus, .button.success:active, .button.success:hover, .button.success:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 49, ../scss/_buttons.scss */
input[type=button].warning, button.warning, .button.warning {
  background-color: #f0ad4e;
  border-color: #357ebd;
}
/* line 53, ../scss/_buttons.scss */
input[type=button].warning:active, input[type=button].warning:hover, input[type=button].warning:focus, button.warning:active, button.warning:hover, button.warning:focus, .button.warning:active, .button.warning:hover, .button.warning:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 59, ../scss/_buttons.scss */
input[type=button].error, button.error, .button.error {
  background-color: #d9534f;
  border-color: #357ebd;
}
/* line 63, ../scss/_buttons.scss */
input[type=button].error:active, input[type=button].error:hover, input[type=button].error:focus, button.error:active, button.error:hover, button.error:focus, .button.error:active, .button.error:hover, .button.error:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}

/* line 70, ../scss/_buttons.scss */
.sm {
  font-size: 60%;
}

/* line 73, ../scss/_buttons.scss */
.md {
  font-size: 120%;
}

/* line 76, ../scss/_buttons.scss */
.lg {
  font-size: 160%;
}

/* line 5, ../scss/_forms.scss */
*, *:before, *:after {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}

/* line 11, ../scss/_forms.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  background: white;
}

/* line 17, ../scss/_forms.scss */
fieldset {
  position: relative;
}

/* line 21, ../scss/_forms.scss */
label {
  display: block;
  font-size: 14px;
  padding: 2px;
}
/* line 25, ../scss/_forms.scss */
label input, label select {
  margin-top: .3em;
}

/* line 30, ../scss/_forms.scss */
input[type=text], input[type=email], input[type=tel], textarea, select {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 8px;
  outline: 0;
  border: 1px solid #999999;
  border-radius: 3px;
  font-size: 15px;
  transition: all .25s;
}

/* line 46, ../scss/_forms.scss */
textarea {
  max-width: 100%;
  height: auto;
}

/* line 51, ../scss/_forms.scss */
select {
  text-indent: 0.01px;
  text-overflow: '';
  background: white linear-gradient(#ffffff 50%, #f5f5f5 100%);
}
/* line 55, ../scss/_forms.scss */
select::-ms-expand {
  display: none;
}

/* line 61, ../scss/_forms.scss */
.select label:after {
  content: '\25be';
  position: absolute;
  right: 14px;
  top: 36px;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-size: 18px;
  color: #999999;
  pointer-events: none;
}
/* line 73, ../scss/_forms.scss */
.ie9 .select label:after {
  content: '';
}

/* all browsers that support what we need, also support the :root pseudo-class */
/* line 81, ../scss/_forms.scss */
.checkbox ul, .radio ul {
  margin: 0;
}
/* line 84, ../scss/_forms.scss */
.checkbox li, .radio li {
  list-style: none;
}

/* line 90, ../scss/_forms.scss */
input[type=checkbox] + label, input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
}

/* line 100, ../scss/_forms.scss */
:root input[type=checkbox] + label:before, :root input[type=radio] + label:before {
  content: '';
  display: inherit;
  width: 16px;
  height: 16px;
  margin: 0 .5em 0 0;
  border: 1px solid #999999;
  font-size: inherit;
  text-align: center;
  line-height: 16px;
  background: white linear-gradient(#ffffff 50%, #f5f5f5 100%);
  vertical-align: middle;
}
/* line 130, ../scss/_forms.scss */
:root input[type=checkbox] + label:before {
  border-radius: 3px;
}
/* line 135, ../scss/_forms.scss */
:root input[type=checkbox]:checked + label:before {
  content: '\2714';
}
/* line 141, ../scss/_forms.scss */
:root input[type=radio] + label {
  display: block;
}
/* line 143, ../scss/_forms.scss */
:root input[type=radio] + label:before {
  display: inline-block;
  border-radius: 50%;
}
/* line 149, ../scss/_forms.scss */
:root input[type=radio]:checked + label:before {
  content: '\25CF';
  line-height: .8;
}

/*
We'll mess with these later

input:required {
	border-color: $warning
}
input:valid {
	border-color: $success
}
input:invalid {
	border-color: $error
}
*/
/*******************************
HEADER TYPOGRAPHY
********************************/
/* line 35, ../scss/_typography.scss */
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .lead, .h5, h5, .h6, h6 {
  font-weight: 600;
  margin: 1.8rem 0 0.9rem;
}

/* line 40, ../scss/_typography.scss */
.h1, h1 {
  font-size: 3.43323rem;
  line-height: 5.14984rem;
}

/* line 44, ../scss/_typography.scss */
.h2, h2 {
  font-size: 2.74658rem;
  line-height: 4.11987rem;
}

/* line 48, ../scss/_typography.scss */
.h3, h3 {
  font-size: 2.19727rem;
  line-height: 3.2959rem;
}

/* line 52, ../scss/_typography.scss */
.h4, h4, .lead {
  font-size: 1.75781rem;
  line-height: 2.63672rem;
}

/* line 56, ../scss/_typography.scss */
.h5, h5 {
  font-size: 1.40625rem;
  line-height: 2.10938rem;
}

/* line 60, ../scss/_typography.scss */
.h6, h6 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

/* line 65, ../scss/_typography.scss */
.block-margins, p, ul, ol, dl, pre {
  margin: 1em 0;
}

/* line 67, ../scss/_typography.scss */
.quotes, blockquote footer:before, blockquote small:before {
  content: '\2014 \00A0';
}

/* line 69, ../scss/_typography.scss */
.small, small, blockquote footer {
  font-size: 75%;
}

/* .typeset { */
/****************************
 HEADINGS
*****************************/
/* sub-headings */
/* line 86, ../scss/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: 400;
  line-height: 1rem;
  color: #999999;
}

/****************************
 BODY COPY
*****************************/
/* line 99, ../scss/_typography.scss */
p {
  word-wrap: break-word;
}

/* line 104, ../scss/_typography.scss */
p > a, .post-meta a {
  text-decoration: none;
  border-bottom: 0.07em solid rgba(0, 0, 0, 0.2);
  padding-bottom: .07em;
  color: #0b92f6;
}
/* line 109, ../scss/_typography.scss */
p > a:hover, .post-meta a:hover {
  border-bottom: 0.07em solid #0b92f6;
}
/* line 112, ../scss/_typography.scss */
p > a:visited, .post-meta a:visited {
  color: #4B0DCF;
}

/****************************
 EMPHASIS
*****************************/
/* for text we want to stand out, possibly at the beginning of an article */
/* line 123, ../scss/_typography.scss */
.lead {
  font-weight: 300;
}

/* line 128, ../scss/_typography.scss */
i, cite, em, var, address, dfn {
  font-style: italic;
}

/* line 132, ../scss/_typography.scss */
strong, b {
  font-weight: 700;
}

/****************************
 BLOCKQUOTES
*****************************/
/* adopted from http://html5doctor.com/blockquote-q-cite/ */
/* line 145, ../scss/_typography.scss */
q {
  quotes: '“' '”' '‘' '’';
}
/* line 147, ../scss/_typography.scss */
q:before {
  content: '“';
  content: open-quote;
}
/* line 150, ../scss/_typography.scss */
q:after {
  content: '”';
  content: close-quote;
}
/* line 154, ../scss/_typography.scss */
q q:before {
  content: '‘';
  content: open-quote;
}
/* line 157, ../scss/_typography.scss */
q q:after {
  content: '’';
  content: close-quote;
}

/* line 163, ../scss/_typography.scss */
blockquote {
  clear: both;
  quotes: '“' '”';
  padding: 0.9rem;
  padding-left: 2rem;
  margin: 1.8rem 0 0.9rem -2rem;
  border: 1px solid #eeeeee;
  border-left-width: 3px;
  border-radius: 3px;
  text-indent: -0.4rem;
}
/* line 174, ../scss/_typography.scss */
blockquote p:first-child {
  margin-top: 0;
}
/* line 177, ../scss/_typography.scss */
blockquote p:before {
  content: '“';
  content: open-quote;
}
/* line 180, ../scss/_typography.scss */
blockquote p:after {
  content: '';
  content: no-close-quote;
}
/* line 183, ../scss/_typography.scss */
blockquote p:last-child:after {
  content: '”';
  content: close-quote;
}
/* line 188, ../scss/_typography.scss */
blockquote q:before {
  content: '‘';
  content: open-quote;
}
/* line 191, ../scss/_typography.scss */
blockquote q:after {
  content: '’';
  content: close-quote;
}
/* line 195, ../scss/_typography.scss */
blockquote q q:before {
  content: '“';
  content: open-quote;
}
/* line 198, ../scss/_typography.scss */
blockquote q q:after {
  content: '”';
  content: close-quote;
}
/* line 203, ../scss/_typography.scss */
blockquote footer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 0;
  color: #999999;
}

/****************************
 LISTS
*****************************/
/* line 225, ../scss/_typography.scss */
ol, ul {
  margin-left: 1.9rem;
}
/* line 227, ../scss/_typography.scss */
ol ol, ol ul, ul ol, ul ul {
  margin-left: 1.7rem;
}

/* line 233, ../scss/_typography.scss */
ol li {
  list-style-type: decimal;
}

/* line 239, ../scss/_typography.scss */
ul li {
  list-style-type: disc;
}
/* line 241, ../scss/_typography.scss */
ul li li {
  list-style-type: circle;
}

/* line 247, ../scss/_typography.scss */
dt {
  font-weight: 700;
}

/****************************
 HELPERS
*****************************/
/* line 255, ../scss/_typography.scss */
.text-left {
  text-align: left;
}

/* line 257, ../scss/_typography.scss */
.text-center {
  text-align: center;
}

/* line 259, ../scss/_typography.scss */
.text-right {
  text-align: right;
}

/* line 261, ../scss/_typography.scss */
.text-justify {
  text-align: justify;
}

/* line 263, ../scss/_typography.scss */
.align-left {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 265, ../scss/_typography.scss */
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 267, ../scss/_typography.scss */
.align-right {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 269, ../scss/_typography.scss */
.indent {
  text-indent: 1.25%;
}

/* line 271, ../scss/_typography.scss */
.list-inline {
  display: inline-block;
}

/* line 273, ../scss/_typography.scss */
.list-unstyled {
  margin-left: 0;
}
/* line 275, ../scss/_typography.scss */
.list-unstyled > li {
  list-style: none;
}

/* } */
/*******************************
CALCULATE GRID
********************************/
/* line 6, ../scss/_grid.scss */
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 15, ../scss/_grid.scss */
.full {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

/* line 22, ../scss/_grid.scss */
[class*="col-"] {
  position: relative;
  float: left;
  width: 97.5%;
  min-height: 1px;
  margin: 1.25%;
  background: #C89ED9;
}
/* line 29, ../scss/_grid.scss */
[class*="col-"] [class*="col-"] {
  margin: 1.25% 0;
}

@media only screen and (min-width: 1224px) {
  /* line 38, ../scss/_grid.scss */
  [class*="col-"] [class*="col-"] {
    margin: 0 1.25% 0;
  }

  /* line 51, ../scss/_grid.scss */
  .col-1 {
    width: 5.83333%;
    line-height: 1.5rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-1 {
    width: 8.33333%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-2 {
    width: 14.16667%;
    line-height: 1.5625rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-2 {
    width: 16.66667%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-3 {
    width: 22.5%;
    line-height: 1.5625rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-3 {
    width: 25%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-4 {
    width: 30.83333%;
    line-height: 1.625rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-4 {
    width: 33.33333%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-5 {
    width: 39.16667%;
    line-height: 1.625rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-5 {
    width: 41.66667%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-6 {
    width: 47.5%;
    line-height: 1.6875rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-6 {
    width: 50%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-7 {
    width: 55.83333%;
    line-height: 1.75rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-7 {
    width: 58.33333%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-8 {
    width: 64.16667%;
    line-height: 1.75rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-8 {
    width: 66.66667%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-9 {
    width: 72.5%;
    line-height: 1.8125rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-9 {
    width: 75%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-10 {
    width: 80.83333%;
    line-height: 1.875rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-10 {
    width: 83.33333%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-11 {
    width: 89.16667%;
    line-height: 1.875rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-11 {
    width: 91.66667%;
  }

  /* line 51, ../scss/_grid.scss */
  .col-12 {
    width: 97.5%;
    line-height: 1.9375rem;
  }

  /* line 57, ../scss/_grid.scss */
  .collapse .col-12 {
    width: 100%;
  }
}
/*
@if ($ie) {
        @include calculate-grid;
} @else {
    @media only screen and (min-width:1005px) {
        @include calculate-grid;
    }
}
*/
/* line 1, ../scss/_images.scss */
img {
  max-width: 100%;
  height: auto;
  outline: lightgrey 1px solid;
}
/* line 5, ../scss/_images.scss */
a img {
  padding: 0;
  border: none;
}

/* line 1, ../scss/_style-guide.scss */
[class*="col-"] {
  min-height: 35px;
}

/* line 6, ../scss/_style-guide.scss */
.swatch {
  border-radius: 5px;
  overflow: auto;
  font-size: 0;
}
/* line 10, ../scss/_style-guide.scss */
.swatch .primary, .swatch .secondary, .swatch .accent, .swatch .success, .swatch .warning, .swatch .error {
  display: block;
  width: 100%;
  height: 30px;
}
/* line 15, ../scss/_style-guide.scss */
.swatch .dark, .swatch .light {
  display: inline-block;
  width: 50%;
  height: 30px;
  vertical-align: top;
  background: black;
}

/* line 24, ../scss/_style-guide.scss */
.primary {
  background: #3b5998;
}
/* line 26, ../scss/_style-guide.scss */
.primary.light {
  background: #4c70ba;
}
/* line 29, ../scss/_style-guide.scss */
.primary.dark {
  background: #2d4373;
}

/* line 34, ../scss/_style-guide.scss */
.secondary {
  background: #8b9dc3;
}
/* line 36, ../scss/_style-guide.scss */
.secondary.light {
  background: #adb9d4;
}
/* line 39, ../scss/_style-guide.scss */
.secondary.dark {
  background: #6981b2;
}

/* line 44, ../scss/_style-guide.scss */
.accent {
  background: #dfe3ee;
}
/* line 46, ../scss/_style-guide.scss */
.accent.light {
  background: white;
}
/* line 49, ../scss/_style-guide.scss */
.accent.dark {
  background: #bec6dc;
}

/* line 54, ../scss/_style-guide.scss */
.success {
  background: #2ecc71;
}
/* line 56, ../scss/_style-guide.scss */
.success.light {
  background: #54d98c;
}
/* line 59, ../scss/_style-guide.scss */
.success.dark {
  background: #25a25a;
}

/* line 64, ../scss/_style-guide.scss */
.warning {
  background: #f1c40f;
}
/* line 66, ../scss/_style-guide.scss */
.warning.light {
  background: #f4d03f;
}
/* line 69, ../scss/_style-guide.scss */
.warning.dark {
  background: #c29d0b;
}

/* line 74, ../scss/_style-guide.scss */
.error {
  background: #e74c3c;
}
/* line 76, ../scss/_style-guide.scss */
.error.light {
  background: #ed7669;
}
/* line 79, ../scss/_style-guide.scss */
.error.dark {
  background: #d62c1a;
}

/* line 29, ../scss/app.scss */
body {
  color: #333333;
  font-size: 18px;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 28.8px;
  -webkit-tap-highlight-color: transparent;
}

/* apply a natural box layout model to all elements */
/* line 39, ../scss/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../scss/app.scss */
.pagination {
  text-align: center;
}
/* line 47, ../scss/app.scss */
.pagination li {
  display: inline-block;
  margin: 0 18px;
}
/* line 51, ../scss/app.scss */
.pagination .prev:before {
  content: '\25c0';
}
/* line 54, ../scss/app.scss */
.pagination .next:after {
  content: "\25b6";
}

/* line 59, ../scss/app.scss */
.read-more {
  display: block;
}
/* line 61, ../scss/app.scss */
.read-more:after {
  content: '\2192';
}

/* line 66, ../scss/app.scss */
li {
  list-style: none;
}

/* line 70, ../scss/app.scss */
.progress {
  display: block;
  position: relative;
  width: 300px;
  height: 8px;
  background: #E4E7E7;
}
/* line 76, ../scss/app.scss */
.progress:after {
  content: '';
  display: block;
  width: 0;
  height: 8px;
  background: #31E5E6;
  transition: width .5s ease-out;
}

/* calculate progress bar */
/* line 93, ../scss/app.scss */
[data-progress='1']:after {
  width: 25%;
}

/* line 93, ../scss/app.scss */
[data-progress='2']:after {
  width: 50%;
}

/* line 93, ../scss/app.scss */
[data-progress='3']:after {
  width: 75%;
}

/* line 93, ../scss/app.scss */
[data-progress='4']:after {
  width: 100%;
}
