/*------------------------------------------------------------------
[Master Stylesheet]

Project: OE Framework
Version: 0.1
Last change: 03/30/14 
-------------------------------------------------------------------*/
/* Config */
/* line 12, ../scss/app.scss */
.show {
  display: block !important;
}

/* line 16, ../scss/app.scss */
.hide {
  display: none !important;
}

/* line 20, ../scss/app.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 25, ../scss/app.scss */
.invisible {
  visibility: hidden;
}

/* These functions define ranges for various things, like media queries */
/* Calculate REM from interger or px */
/* line 1, ../scss/_extends.scss */
.unselectable, input[type=button], button, .button {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 9, ../scss/_extends.scss */
.white, input[type=button].primary, button.primary, .button.primary, input[type=button].success, button.success, .button.success, input[type=button].warning, button.warning, .button.warning, input[type=button].error, button.error, .button.error {
  color: #fff;
}

/* The following was adopted from the Foundation framework */
/* line 5, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 35, ../scss/app.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/*
 * Color
 */
/*
 * Typography
 */
/* line 1, ../scss/_forms.scss */
fieldset {
  width: 800px;
  border: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* line 9, ../scss/_forms.scss */
label {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 15px;
  width: 33%;
}

/* line 18, ../scss/_forms.scss */
select, input[type=text] {
  width: 100%;
}

/* line 22, ../scss/_forms.scss */
input[type=text] {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-top: 2px solid #e3e3e3;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

/* line 31, ../scss/_forms.scss */
select, input[type=text] {
  display: block;
  height: 34px;
}

/* line 36, ../scss/_forms.scss */
select {
  -webkit-appearance: button;
  appearance: button;
  background: white url(../img/down-arrow-gray.png) no-repeat right 14px;
  border: 1px solid #e5e5e5;
  color: #333;
  padding-left: 10px;
  padding-right: 36px;
}

/* line 46, ../scss/_forms.scss */
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* line 57, ../scss/_forms.scss */
input[type=checkbox], input[type=radio] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 65, ../scss/_forms.scss */
input[type=checkbox], input[type=radio] {
  border-width: 1px;
  border-style: solid;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 85, ../scss/_forms.scss */
input[type=checkbox]:checked:before {
  content: '\2714';
  margin-top: 7px;
  color: #1e8cbe;
}

/* line 91, ../scss/_forms.scss */
input[type=checkbox]:checked:before, input[type=radio]:checked:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 99, ../scss/_forms.scss */
.widefat * {
  word-wrap: break-word;
}

/* line 103, ../scss/_forms.scss */
input, input[type="password"], input[type="search"], isindex {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

/* line 117, ../scss/_forms.scss */
table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

/* line 124, ../scss/_forms.scss */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 130, ../scss/_forms.scss */
legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border: none;
}

/* line 137, ../scss/_forms.scss */
input[type=radio] {
  border-radius: 50%;
  margin-right: 4px;
  line-height: 10px;
}

/* line 143, ../scss/_forms.scss */
.form-table input.tog, .form-table input[type=radio] {
  margin-top: -4px;
  margin-right: 4px;
  float: none;
}

/* line 149, ../scss/_forms.scss */
input[type=radio]:checked:before {
  background-color: #1e8cbe;
}

/* line 153, ../scss/_forms.scss */
input[type=radio]:checked:before {
  content: '\2022';
  text-indent: -9999px;
  border-radius: 50px;
  font-size: 24px;
  width: 6px;
  height: 6px;
  margin: 4px;
  line-height: 16px;
}

/* line 164, ../scss/_forms.scss */
div {
  margin: 15px;
}

/* line 166, ../scss/_forms.scss */
input[type=button], button, .button {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  line-height: 1.45;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 189, ../scss/_forms.scss */
input[type=button]:active, input[type=button]:hover, input[type=button]:focus, button:active, button:hover, button:focus, .button:active, .button:hover, .button:focus {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
/* line 195, ../scss/_forms.scss */
input[type=button].primary, button.primary, .button.primary {
  background-color: #428bca;
  border-color: #357ebd;
}
/* line 199, ../scss/_forms.scss */
input[type=button].primary:active, input[type=button].primary:hover, input[type=button].primary:focus, button.primary:active, button.primary:hover, button.primary:focus, .button.primary:active, .button.primary:hover, .button.primary:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 204, ../scss/_forms.scss */
input[type=button].success, button.success, .button.success {
  background-color: #5cb85c;
  border-color: #378238;
}
/* line 208, ../scss/_forms.scss */
input[type=button].success:active, input[type=button].success:hover, input[type=button].success:focus, button.success:active, button.success:hover, button.success:focus, .button.success:active, .button.success:hover, .button.success:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 213, ../scss/_forms.scss */
input[type=button].warning, button.warning, .button.warning {
  background-color: #f0ad4e;
  border-color: #357ebd;
}
/* line 217, ../scss/_forms.scss */
input[type=button].warning:active, input[type=button].warning:hover, input[type=button].warning:focus, button.warning:active, button.warning:hover, button.warning:focus, .button.warning:active, .button.warning:hover, .button.warning:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 222, ../scss/_forms.scss */
input[type=button].error, button.error, .button.error {
  background-color: #d9534f;
  border-color: #357ebd;
}
/* line 226, ../scss/_forms.scss */
input[type=button].error:active, input[type=button].error:hover, input[type=button].error:focus, button.error:active, button.error:hover, button.error:focus, .button.error:active, .button.error:hover, .button.error:focus {
  background-color: #3276b1;
  border-color: #285e8e;
}

/*
 * Base styles
 */
/* line 5, ../scss/_typography.scss */
body {
  color: #333333;
  font-size: 16px;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 25.6px;
}

/* apply a natural box layout model to all elements */
/* line 14, ../scss/_typography.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Typography
 *
 *
 * Credits:
 * http://thesassway.com/advanced/modular-css-typography
 * http://www.onextrapixel.com/2011/05/30/how-to-create-great-web-typography-in-10-minutes/
 * http://coding.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/
 */
/* line 30, ../scss/_typography.scss */
.link, .typeset a {
  color: #d54aaf;
  text-decoration: none;
}
/* line 34, ../scss/_typography.scss */
.link:visited, .typeset a:visited {
  color: purple;
}
/* line 38, ../scss/_typography.scss */
.link:hover, .typeset a:hover, .link:visited:hover, .typeset a:visited:hover {
  color: #eb34b9;
  text-decoration: underline;
}

/* line 44, ../scss/_typography.scss */
.fixed, .typeset pre, .typeset code {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 15px;
  line-height: 1.2;
}

/* line 46, ../scss/_typography.scss */
.quiet {
  font-color: #cccccc;
}

/* line 47, ../scss/_typography.scss */
.loud, .bold, .typeset b, .typeset strong {
  font-color: black;
}

/* line 49, ../scss/_typography.scss */
.italic, .typeset i, .typeset em {
  font-style: italic;
}

/* line 50, ../scss/_typography.scss */
.bold, .typeset b, .typeset strong {
  font-weight: 700;
}

/* line 52, ../scss/_typography.scss */
.h1, .typeset h1, .h2, .typeset h2, .h3, .typeset h3, .h4, .typeset h4, .h5, .typeset h5, .h6, .typeset h6 {
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  font-weight: 700;
}

/* line 55, ../scss/_typography.scss */
.h1, .typeset h1 {
  font-size: 61.55813px;
  letter-spacing: -0.125rem;
  line-height: 92.33719px;
}

/* line 56, ../scss/_typography.scss */
.h2, .typeset h2 {
  font-size: 46.12037px;
  letter-spacing: -0.0625rem;
  line-height: 69.18056px;
}

/* line 57, ../scss/_typography.scss */
.h3, .typeset h3 {
  font-size: 34.55415px;
  line-height: 51.83122px;
}

/* line 58, ../scss/_typography.scss */
.h4, .typeset h4 {
  font-size: 28.50396px;
  line-height: 42.75594px;
}

/* line 59, ../scss/_typography.scss */
.h5, .typeset h5 {
  font-size: 23.51311px;
  line-height: 35.26967px;
}

/* line 60, ../scss/_typography.scss */
.h6, .typeset h6 {
  font-size: 19.39613px;
  line-height: 29.09419px;
}

/* line 62, ../scss/_typography.scss */
.block-margins, .typeset p, .typeset ul, .typeset ol, .typeset pre {
  margin: 1em 0;
}

/* line 64, ../scss/_typography.scss */
.unordered-list, .typeset ul {
  list-style-type: disc;
}

/* line 65, ../scss/_typography.scss */
.ordered-list, .typeset ol {
  list-style: decimal;
}

/* line 77, ../scss/_typography.scss */
.typeset h1 {
  margin: 1.6rem 0 0.8rem;
}
/* line 78, ../scss/_typography.scss */
.typeset h2 {
  margin: 1.6rem 0 0.8rem;
}
/* line 79, ../scss/_typography.scss */
.typeset h3 {
  margin: 1.6rem 0 0.8rem;
}
/* line 80, ../scss/_typography.scss */
.typeset h4 {
  margin: 1.6rem 0 0.8rem;
}
/* line 81, ../scss/_typography.scss */
.typeset h5 {
  margin: 1.6rem 0 0.8rem;
}
/* line 82, ../scss/_typography.scss */
.typeset h6 {
  margin: 1.6rem 0 0.8rem;
}
/* line 88, ../scss/_typography.scss */
.typeset ul ul {
  margin: 0 0 0 25.6px;
}
/* line 94, ../scss/_typography.scss */
.typeset ol ol {
  margin: 0 0 0 25.6px;
}
/* line 101, ../scss/_typography.scss */
.typeset blockquote {
  /* TO DO: calculate this margin from .col-1 dynamically */
  margin: 0 5.833%;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -0.4em;
}
/* line 109, ../scss/_typography.scss */
.typeset blockquote b {
  display: block;
  text-indent: 0;
}

/*
 * Modifiers
 */
/* line 121, ../scss/_typography.scss */
.float-left {
  float: left;
  margin-right: 1em;
}

/* line 122, ../scss/_typography.scss */
.float-right {
  float: right;
  margin-left: 1em;
}

/* line 124, ../scss/_typography.scss */
.text-left {
  text-align: left   !important;
}

/* line 125, ../scss/_typography.scss */
.text-center {
  text-align: center !important;
}

/* line 126, ../scss/_typography.scss */
.text-right {
  text-align: right  !important;
}

/*
 * Object definitions
 */
/* line 133, ../scss/_typography.scss */
.content {
  margin: 0 auto;
  width: 32em;
}

/* line 138, ../scss/_typography.scss */
.header-block {
  font-size: 110%;
}
/* line 141, ../scss/_typography.scss */
.header-block.typography h1 {
  font-size: 450%;
  margin-top: 0 !important;
}

/* line 144, ../scss/_typography.scss */
.author-block {
  border-top: 3px double #cccccc;
  margin-top: 4em;
}

/* line 6, ../scss/_grid.scss */
.full {
  width: 100%;
  overflow: auto;
}

/* line 12, ../scss/_grid.scss */
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  overflow: auto;
}

/* line 20, ../scss/_grid.scss */
[class*="col-"] {
  position: relative;
  float: left;
  overflow: auto;
  width: 97.5%;
  min-height: 1px;
  margin: 1.25%;
  /*
  	min-height: 30px;
  	color: #fff;
  	background: #a9669a;
  	[class*="col-"] {
  		background: #cba7c3;
  	}
  */
}
/* line 28, ../scss/_grid.scss */
[class*="col-"] [class*="col-"] {
  margin: 1.25% 0;
}

@media only screen and (max-width: 1000px) {
  /* line 46, ../scss/_grid.scss */
  [class*="col-"] [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (min-width: 1005px) {
  /* line 54, ../scss/_grid.scss */
  [class*="col-"] [class*="col-"] {
    margin: 0 1.25% 0;
  }

  /* line 64, ../scss/_grid.scss */
  .col-1 {
    width: 5.83333%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-1 {
    width: 8.33333%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-2 {
    width: 14.16667%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-2 {
    width: 16.66667%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-3 {
    width: 22.5%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-3 {
    width: 25%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-4 {
    width: 30.83333%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-4 {
    width: 33.33333%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-5 {
    width: 39.16667%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-5 {
    width: 41.66667%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-6 {
    width: 47.5%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-6 {
    width: 50%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-7 {
    width: 55.83333%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-7 {
    width: 58.33333%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-8 {
    width: 64.16667%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-8 {
    width: 66.66667%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-9 {
    width: 72.5%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-9 {
    width: 75%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-10 {
    width: 80.83333%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-10 {
    width: 83.33333%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-11 {
    width: 89.16667%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-11 {
    width: 91.66667%;
  }

  /* line 64, ../scss/_grid.scss */
  .col-12 {
    width: 97.5%;
  }

  /* line 69, ../scss/_grid.scss */
  .collapse .col-12 {
    width: 100%;
  }
}
/* line 1, ../scss/_style-guide.scss */
.swatch {
  border-radius: 5px;
  overflow: auto;
  font-size: 0;
}
/* line 5, ../scss/_style-guide.scss */
.swatch .primary, .swatch .success, .swatch .warning, .swatch .error {
  display: block;
  width: 100%;
  height: 30px;
}
/* line 10, ../scss/_style-guide.scss */
.swatch .dark, .swatch .light {
  display: inline-block;
  width: 50%;
  height: 30px;
  vertical-align: top;
  background: black;
}

/* line 19, ../scss/_style-guide.scss */
.primary {
  background: #3498db;
}
/* line 21, ../scss/_style-guide.scss */
.primary.light {
  background: #5faee3;
}
/* line 24, ../scss/_style-guide.scss */
.primary.dark {
  background: #217dbb;
}

/* line 29, ../scss/_style-guide.scss */
.success {
  background: #2ecc71;
}
/* line 31, ../scss/_style-guide.scss */
.success.light {
  background: #54d98c;
}
/* line 34, ../scss/_style-guide.scss */
.success.dark {
  background: #25a25a;
}

/* line 39, ../scss/_style-guide.scss */
.warning {
  background: #f1c40f;
}
/* line 41, ../scss/_style-guide.scss */
.warning.light {
  background: #f4d03f;
}
/* line 44, ../scss/_style-guide.scss */
.warning.dark {
  background: #c29d0b;
}

/* line 49, ../scss/_style-guide.scss */
.error {
  background: #e74c3c;
}
/* line 51, ../scss/_style-guide.scss */
.error.light {
  background: #ed7669;
}
/* line 54, ../scss/_style-guide.scss */
.error.dark {
  background: #d62c1a;
}

/* line 52, ../scss/app.scss */
.pagination {
  text-align: center;
}
/* line 54, ../scss/app.scss */
.pagination li {
  display: inline-block;
  margin: 0 18px;
}
/* line 58, ../scss/app.scss */
.pagination .prev:before {
  content: '\25c0';
}
/* line 61, ../scss/app.scss */
.pagination .next:after {
  content: "\25b6";
}

/* line 66, ../scss/app.scss */
.read-more {
  display: block;
}
/* line 68, ../scss/app.scss */
.read-more:after {
  content: '\2192';
}

/* line 73, ../scss/app.scss */
.disabled {
  cursor: not-allowed;
}

/* line 77, ../scss/app.scss */
[class*="col-"] {
  min-height: 35px;
  text-align: center;
  color: #fff;
  background: #A5D1E2;
}

/* line 84, ../scss/app.scss */
li {
  list-style: none;
}

/* line 88, ../scss/app.scss */
.progress {
  display: block;
  position: relative;
  width: 300px;
  height: 8px;
  background: #E4E7E7;
}
/* line 94, ../scss/app.scss */
.progress:after {
  content: '';
  display: block;
  width: 0;
  height: 8px;
  background: #31E5E6;
  transition: width .5s ease-out;
}

/* calculate progress bar */
/* line 111, ../scss/app.scss */
[data-progress='1']:after {
  width: 25%;
}

/* line 111, ../scss/app.scss */
[data-progress='2']:after {
  width: 50%;
}

/* line 111, ../scss/app.scss */
[data-progress='3']:after {
  width: 75%;
}

/* line 111, ../scss/app.scss */
[data-progress='4']:after {
  width: 100%;
}
