$input-bg-color: #fff;
$widget-bg-color: #fff linear-gradient(#fff 50%, #f5f5f5 100%);

// get rid of broswer widget styling
*, *:before, *:after {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  background: $input-bg-color;
}

fieldset {
	position: relative;
}

label {
	display: block;
	font-size: 14px;
	padding: 2px; // so we can see focus detail
	input, select {
		margin-top: .3em;
	}
}

input[type=text], input[type=email], input[type=tel], textarea, select {
	display: block;
	width: 100%;
	height: 35px;
	padding: 5px 8px;
	outline: 0;
	border: 1px solid $gray-light;
	border-radius: 3px;
	font-size: 15px;
	transition: all .25s;
	
	&:focus {
		  @extend .focus;
	}
}

textarea {
	max-width: 100%;
	height: auto;
}

select {
    text-indent: 0.01px;
    text-overflow: '';
    background: $widget-bg-color;
    &::-ms-expand {
    	display: none;
	}
}

.select label {
	&:after {
		content: '\25be';
		position: absolute;
		right: 14px;
		top: 36px;
		font-family: $base-font-family;
		font-size: 18px;
		color: $gray-light;
		pointer-events: none;
	}
	
	// we can't hide IE9's button so we'll stick to the default
	.ie9 &:after {
		content: '';
	}
}

/* all browsers that support what we need, also support the :root pseudo-class */

input[type=checkbox], input[type=radio] {
	+ label {
		display: inline-block;
		cursor: pointer;
	}
}

:root {
	input[type=checkbox], input[type=radio] {
		@extend .screen-reader-text; // let's hide this the same so we don't take a performance hit
		+ label {
			&:before {
				content: '';
				display: inherit;
				width  : 16px;
				height : 16px;
				margin : 0 .5em 0 0;
				border: 1px solid $gray-light;
				font-size: inherit;
				text-align: center;
				line-height: 16px;
				background: $widget-bg-color;
				vertical-align: middle;
			}
		}
		
		&:disabled + label:before {
			@extend .disabled;
		}
		
		&:checked:disabled + label:before {
			@extend .disabled;
		}
		
		&:focus + label:before {
			@extend .focus;
		}
	}
	
	input[type=checkbox] {
		+ label {
			&:before {
				border-radius: 3px;
			}
		}
		
		&:checked + label:before {
			content: '\2714';
		}
	}
	
	input[type=radio] {
		+ label {
			display: block;
			&:before {
				display: inline-block;
				border-radius: 50%;
			}
		}
		
		&:checked + label:before {
			content: '\25CF';
			line-height: .8;
		}
	}
}

input[disabled], input[readonly], input[disabled] + label, input[readonly] + label {
	@extend .disabled;
}

/*
We'll mess with these later

input:required {
	border-color: $warning
}
input:valid {
	border-color: $success
}
input:invalid {
	border-color: $error
}
*/