/* These functions define ranges for various things, like media queries */
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

/* Calculate REM from interger or px */

$font-base: 16 !default;

@function parse-int($n) {
	@return $n / ($n * 0 + 1);
}

@function convert-to-rem($value)  {
  
  $value: parse-int($value) / parse-int($font-base) * 1rem;
  
  @if ($value == 0rem) { $value: 0; }
  
  @return $value;
}

@function rem($values) {

  $list:();
  
  @each $value in $values {

	$val: parse-int($value);
	
	@if ($ie) {
		$list: append($list, $val + px);
	} @else {
		$list: append($list, convert-to-rem($value));
	}  
  }
  
  @return $list;
}