/*******************************
CALCULATE GRID
********************************/

// used for centered content
.container {
	position: relative;
	max-width: $content-width + px;
	margin: 0 auto;
}

// the base of our columns class
[class*="#{$class-slug}-"] {
	position: relative;
	float: left;
	width: 97.5%;
	min-height: 1px;
	margin: percentage($margin/100);
	
	[class*="col-"] {
		margin: percentage($margin/100) 0;
	}
}

@mixin calculate-grid() { 
	[class*="col-"] {
		[class*="col-"] {
			margin: 0 percentage($margin/100) 0;
		}
	}

	// lets iterate through each column and create a class for it
	@for $i from 1 through $columns {
		
		$gw: $i / ($columns/100);
		$rw: $gw - $margin/100 * 2;
		$px_width: ($rw/100)*$content-width;
		$px_margin: ($margin/100) * $content-width;
		
		.#{$class-slug}-#{$i} {
			width: $gw - percentage($margin/100) * 2;
			line-height: rem(gr($px_width - $px_margin*2));
		}
		
		.collapse {
			.#{$class-slug}-#{$i} {
				width: $gw * 1%;
			}
		}
	}
}
@include calculate-grid;

// IE sucks as always so we won't include any media queries
/*
@if ($ie) {
        @include calculate-grid;
} @else {
    @media #{$large-up} {
        @include calculate-grid;
    }
}
*/