/*
 * Base styles
 */

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Typography
 *
 *
 * Credits:
 * http://thesassway.com/advanced/modular-css-typography
 * http://www.onextrapixel.com/2011/05/30/how-to-create-great-web-typography-in-10-minutes/
 * http://coding.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/
 */

.link {
  color: $link-color;
  text-decoration: none;
  
  &:visited {
    color: $link-visited-color;
  }
  
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }
//.h1, .h2 { line-height: ms(2.8) * 1.5; }
//.h3, .h4 { line-height: ms(1.6) * 1.5; }
.h1 { font-size: ms(2.8); letter-spacing: rem(-2); line-height: ms(2.8) * 1.5;}
.h2 { font-size: ms(2.2); letter-spacing: rem(-1); line-height: ms(2.2) * 1.5;}
.h3 { font-size: ms(1.6); line-height: ms(1.6) * 1.5;}
.h4 { font-size: ms(1.2); line-height: ms(1.2) * 1.5;}
.h5 { font-size: ms(.8); line-height: ms(.8) * 1.5;}
.h6 { font-size: ms(.4); line-height: ms(.4) * 1.5;}

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

// according to Tim Brown (Typekit) our base-line-height is our magic number, so lets do some calculations with it! 
$type-margin: rem($base-line-height 0 ($base-line-height/2));

.typeset {

	a { @extend .link; }
	
	i, em { @extend .italic; }
	b, strong { @extend .bold; }
	
	h1 { @extend .h1; margin: $type-margin; }
	h2 { @extend .h2; margin: $type-margin; }
	h3 { @extend .h3; margin: $type-margin; }
	h4 { @extend .h4; margin: $type-margin; }
	h5 { @extend .h5; margin: $type-margin; }
	h6 { @extend .h6; margin: $type-margin; }
	
	p, ul, ol, pre { @extend .block-margins; }
	
	ul { 
		@extend .unordered-list;
		ul {
			margin: 0 0 0 $base-line-height;
		}
	}
	ol {
		@extend .ordered-list;
		ol {
			margin: 0 0 0 $base-line-height;
		}
	}
	
	pre, code { @extend .fixed; }
  
	blockquote {
		/* TO DO: calculate this margin from .col-1 dynamically */
		margin: 0 5.833%; // should be width of one column of the grid
		border-left: 5px solid #ccc;
		padding-left: 10px;
		text-indent: -0.4em;
	}
	
	blockquote b {
		display: block;
		text-indent: 0;
	}
	
}


/*
 * Modifiers
 */

.float-left  { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }


/*
 * Object definitions
 */

.content {
  margin: 0 auto;
  width: 32em;
}

.header-block {
  font-size: 110%;
  
  &.typography h1 { font-size: 450%; margin-top: 0 !important; }
}

.author-block {
  border-top: 3px double $quiet-color;
  margin-top: 4em;
}