@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// requires $base-font-size & $content_width
@function gr($content-width) {
  
  $r: (1 + sqrt(5)) / 2; // phi "golden ratio"
  $x: 1 / (2 * $r);
  $y: $base-font-size * $r;
  $z: $content-width / ($y * $y);
  $h: $r - $x * (1 - $z);
  $l: $base-font-size * $h;
  
  @return round($l);
}

$columns: 12 !default;
$margin: 1.25 !default;
$class-slug: col !default;

$base: $base-font-size;
$scale: 4/5; // for a list of more scales refer to: http://modularscale.com/

$h6: $base;
$h5: $base/$scale;
$h4: $h5/$scale;
$h3: $h4/$scale;
$h2: $h3/$scale;
$h1: $h2/$scale;

/*******************************
HEADER TYPOGRAPHY
********************************/

// according to Tim Brown (Typekit) our base-line-height is our magic number, so lets do some calculations with it!
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  margin: rem($base_line_height) 0 rem($base_line_height/2);
}

.h1 {
  font-size: rem($h1);
  line-height: rem($h1 * 1.5);
}
.h2 {
  font-size: rem($h2);
  line-height: rem($h2 * 1.5);
}
.h3 {
  font-size: rem($h3);
  line-height: rem($h3 * 1.5);
}
.h4 {
  font-size: rem($h4);
  line-height: rem($h4 * 1.5);
}
.h5 {
  font-size: rem($h5);
  line-height: rem($h5 * 1.5);
}
.h6 {
  font-size: rem($h6);
  line-height: rem($h6 * 1.5);
}

.block-margins { margin: 1em 0; }

.quotes { content: '\2014 \00A0'; }

.small { font-size: 75%; }

/* .typeset { */
	
/****************************
 HEADINGS
*****************************/

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

/* sub-headings */
h1, h2, h3, h4, h5, h6 {
	small {
		font-weight: 400;
		line-height: 1rem;
		color: $gray-light;
	}
}

/****************************
 BODY COPY
*****************************/

p, ul, ol, dl, pre { @extend .block-margins; }

p {
	word-wrap: break-word;
}

a {
	text-decoration: none;
	border-bottom: .07em solid rgba(0, 0, 0, .2);
	padding-bottom: .07em;
	color: $info;
	&:link {
    	-webkit-tap-highlight-color: rgba(229,59,44,.4);
	}
	&:hover {
    	border-bottom: .07em solid $info;
	}
}

/****************************
 EMPHASIS
*****************************/

/* for text we want to stand out, possibly at the beginning of an article */
.lead {
	@extend .h4;
	font-weight: 300;
}

i, cite, em, var, address, dfn {
	font-style: italic;
}

strong, b {
	font-weight: 700;
}

small {
	@extend .small;
}

/****************************
 BLOCKQUOTES
*****************************/

/* adopted from http://html5doctor.com/blockquote-q-cite/ */
q {
	quotes: '“' '”' '‘' '’';
	&:before {
		content: '“'; content: open-quote;
	}
	&:after {
		content: '”'; content: close-quote;
	}
	q {
		&:before {
			content: '‘'; content: open-quote;
		}
		&:after {
			content: '’'; content: close-quote;
		}
	}
}

blockquote {
	quotes: '“' '”';
	padding: rem($base_line_height/2);
	padding-left: 2rem;
	margin: rem($base_line_height) 0 rem($base_line_height/2) -2rem;
	border: 1px solid $gray-lighter;
	border-left-width: 3px;
	border-radius: 3px;
	text-indent: -0.4rem;
	p {
		&:first-child {
			margin-top: 0;
		}
		&:before {
			content: '“'; content: open-quote;
		}
		&:after {
			content: ''; content: no-close-quote;
		}
		&:last-child:after {
			content: '”'; content: close-quote;
		}
	}
	q {
		&:before {
			content: '‘'; content: open-quote;
		}
		&:after {
			content: '’'; content: close-quote;
		}
		q {
			&:before {
				content: '“'; content: open-quote;
			}
			&:after {
				content: '”'; content: close-quote;
			}
		}
	}
	footer {
		@extend .small;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-indent: 0;
		color: $gray-light;
		&:before {
			@extend .quotes;
		}
	}
	small {
		&:before {
			@extend .quotes;
		}
	}
}

/****************************
 LISTS
*****************************/

ol, ul {
	margin-left: 1.9rem;
	ol, ul {
		margin-left: 1.7rem;
	}
}

ol {
	li {
		list-style-type: decimal;
	}
}

ul {
	li {
		list-style-type: disc;
		li {
			list-style-type: circle;
		}
	}
}

dt {
	font-weight: 700;
}

/****************************
 HELPERS
*****************************/

.text-left, .align-left { text-align: left; }
.text-center, .align-center { text-align: center; }
.text-right, .align-right { text-align: right; }
.text-justify { text-align: justify; }
.indent { text-indent: percentage($margin/100); }
.list-inline { display: inline-block; }
.list-unstyled {
	margin-left: 0;
	> li {
		list-style: none;
	}
}
/* } */