/*------------------------------------------------------------------
[Master Stylesheet]

Project: OE Framework
Version: 0.1
Last change: 03/30/14 
-------------------------------------------------------------------*/

/* Config */
$ie: false;

@import "functions";
@import "settings";
@import "compass";
@include global-reset;

*,
*:after,
*:before {
    box-sizing: border-box;
}

// TODO: test golden ratio functions as well, but we'll use this for now
@import "modular-scale";

@import "forms";
@import "typography";
@import "grid";

.pagination {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 18px;
	}
	.prev:before {
		content: '\25c0';
	}
	.next:after {
		content: '\25b6'
	}
}

[class*="#{$class-slug}-"] {
	min-height: 35px;
	text-align: center;
	color: #fff;
	background: #A5D1E2;
}

li {
  list-style: none
}