/*------------------------------------------------------------------
[Master Stylesheet]

Project: OE Framework
Version: 0.1
Last change: 03/30/14 
-------------------------------------------------------------------*/

/* Config */
$ie: false;

@import "functions";
@import "settings";
@import "compass";
@include global-reset;
@import "variables";
@import "extends";
// TODO: test golden ratio functions as well, but we'll use this for now
@import "modular-scale";
@import "buttons";
@import "forms";
@import "typography";
@import "grid";
@import "images";

// for development purposes only, should be commented out in production environment
@import "style-guide";

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

body {
  color: $text-color;
  font-size: $base-font-size + px;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height + px;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.pagination {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 18px;
	}
	.prev:before {
		content: '\25c0';
	}
	.next:after {
		content: '\25b6'
	}
}

.read-more {
	display: block;
	&:after {
		content: '\2192';
	}
}

li {
  list-style: none
}

.progress {
	display: block;
	position: relative;
	width: 300px;
	height: 8px;
	background: #E4E7E7;
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 8px;
		background: #31E5E6;
		transition: width .5s ease-out;
	}
}

@mixin progress_bar($steps) {
	
	$bar_width: (100/$steps)*1%; // 25%
	
	/* calculate progress bar */
	@for $i from 1 through $steps {
	
		[data-progress='#{$i}']:after {
			width: $bar_width*$i;
		}
		
		$steps: $steps - 1;
	}
}
@include progress_bar(4);